<!DOCTYPE html>
<html>
<body>

<h1>I love this!!</h1>

<p>Big Stuff.</p>

<ul>
  <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
    <li>I like to eat <%= fruit %></li>
  <% end %>
</ul>

</body>
</html>
